# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
local_settings.py

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Database
db.sqlite3
*.sqlite3

# Static files
staticfiles/
static/

# Media files
media/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Pycharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Other
*.bak
*.tmp
*.log
*.test

# Celery Beat schedule database
celerybeat-schedule.db