<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <p>Hola,</p>
    <p>Se ha creado una nueva tarea con los siguientes detalles:</p>
    <ul>
        <li><strong>Título:</strong> {{ titulo }}</li>
        <li><strong>Descripción:</strong> {{ descripcion }}</li>
        <li><strong>Fecha de Vencimiento:</strong> {{ fecha_expiracion }}</li>
    </ul>
    <p>Puedes ver más detalles y gestionar tu tarea en <a href="{{ enlace }}">este enlace</a>.</p>
    <p>Saludos,</p>
    <p>El equipo de [Yuhu]</p>
</body>
</html>
